@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap&subset=cyrillic");

$primary-color: #0450c4;
$secondary-color: #d33f8d;
$primary-gradient: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);

@import "reset";
@import "loader";
@import "utils";
@import "main";